$codeBgColor = #282c34
iframe{
    width:800px;
    height:400px;
    // margin: 0 -50px;
} 
.scrimba    
    max-width:760px;
    background-color: #e7ecf3;
    padding: 1em 1.25em;
    border-radius: 2px;
    color: #486491;
    position: relative;
    margin-top: 10px;
    a
        position: relative;
        padding-left: 36px;
    a:before
        width: 30px;
        height: 30px;
        top: -5px;
        left: -4px;
        border-radius: 50%;
        // background-color: #73abfe;
        background-color: #3eaf7c;

        content: "";
        position: absolute;
        display: block;
    a:after
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        top: 5px;
        left: 8px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 8px solid #fff;